<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      .lists-wrapper,
      .todos-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <h2>A SAMPLE VERSION OF TODO APP</h2>
    <div class="lists-wrapper">
      <h4>Todo Lists</h4>
      <form id="list-form" action="/todos/create-list" method="post">
        <div>
          <label for="name">Create List</label>
          <input type="text" id="list-name" name="list-name" />
          <input type="submit" value="Create List" />
        </div>
      </form>
      <hr />
      <ul id="lists">
        {% for list in lists %}
        <li>
          <input
            type="checkbox"
            class="check-list-completed"
            data-id="{{ list.id}}"
          />
          <a href="/lists/{{list.id}}">{{list.name}}</a>
          <span
            data-id="{{list.id}}"
            class="delete-list"
            style="color: red; cursor: pointer"
          >
            &cross;
          </span>
        </li>
        {% endfor%}
      </ul>
    </div>
    <div class="todos-wrapper">
      <h2>TODO ITEMS</h2>
      <form id="form" action="/todos/create" method="post">
        <div>
          <label for="name">Create Task</label>
          <input type="text" id="description" name="description" />
          <input type="submit" value="Create Taask" />
        </div>
      </form>
      <hr />
      <div id="error" class="hidden">Something went wrong!</div>
      <h4>{{ active_list.name }}</h4>
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input
            type="checkbox"
            class="check-completed"
            data-id="{{ todo.id}}"
            {%
            if
            todo.completed
            %}
            checked
            {%
            endif
            %}
          />
          {{ todo.description }}
          <span
            class="delete-item"
            data-id="{{todo.id}}"
            class="delete-item"
            style="color: red; cursor: pointer"
          >
            &cross;
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script>
      const deleteItems = document.querySelectorAll(".delete-item");
      for (let i = 0; i < deleteItems.length; i++) {
        const deleteItem = deleteItems[i];
        deleteItem.onclick = function (e) {
          console.log("event", e);
          const newCompleted = e.target.checked;
          const deleteId = e.target.dataset["id"];
          fetch("/todos/" + deleteId + "/delete", {
            method: "DELETE",
          });
        };
      }
      //Delete List
      const deleteLists = document.querySelectorAll(".delete-list");
      for (let i = 0; i < deleteLists.length; i++) {
        const deleteList = deleteLists[i];
        deleteList.onclick = function (e) {
          console.log("delete List ");
        };
      }
      //Create List
      document.getElementById("list-form").onsubmit = function (e) {
        e.preventDefault();
        fetch("/todoLists/create", {
          method: "POST",
          body: JSON.stringify({
            listName: document.getElementById("list-name").value,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (jsonResponse) {
            console.log(jsonResponse);
            const liItem = document.createElement("LI");
            liItem.innerHTML = jsonResponse["listName"];
            document.getElementById("lists").appendChild(liItem);
            document.getElementById("error").className = "hidden";
          })
          .catch(function () {
            document.getElementById("error").className = "";
          });
      };

      const checkboxes = document.querySelectorAll(".check-completed");
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function (e) {
          console.log("event", e);
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset["id"];
          fetch("/todos/" + todoId + "/set-completed", {
            method: "POST",
            body: JSON.stringify({
              completed: newCompleted,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(function () {
              document.getElementById("error").className = "hidden";
            })
            .catch(function () {
              document.getElementById("error").className = "";
            });
        };
      }

      document.getElementById("form").onsubmit = function (e) {
        e.preventDefault();
        fetch("/todos/create", {
          method: "POST",
          body: JSON.stringify({
            description: document.getElementById("description").value,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (jsonResponse) {
            console.log(jsonResponse);
            const liItem = document.createElement("LI");
            liItem.innerHTML = jsonResponse["description"];
            document.getElementById("todos").appendChild(liItem);
            document.getElementById("error").className = "hidden";
          })
          .catch(function () {
            document.getElementById("error").className = "";
          });
      };
    </script>
  </body>
</html>
